 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mi</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Soy un ingeniero apasionado por el diseño, la tecnología, y los robots. Amo lo que hago, y siempre tengo energias para hacer cosas interesantes.</p>
                </div>
                <div class="col-lg-4">
                    <p>Me gusta inventar, y no tengo miedo a fallar, asi que siempre tengo algo nuevo que hacer. Puedes mirar todos los proyectos que he hecho solo, o junto a amigos aqui mismo, asi que, ¡qué esperas!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://medium.com/@gregpozo" class="btn btn-lg btn-outline">
                        <i class=" fa-chevron-right"></i> Ir al blog
                    </a>
                </div>
            </div>
        </div>
    </section>